<h1>Recipe for: <%= @recipe.name %></h1>
<p>Ingredients:</p>
<ol>
  <% array = @recipe.ingredients.split(" ") %>
  <% array.each do |ingredient| %>
    <li><%= ingredient %></li>
    <% end %>
</ol>
<p>Cook Time: <%= @recipe.cook_time %></p>

<form method="POST" action="/recipes/:id/delete">
  <input id="hidden" type="hidden" name="_method" value="delete"/>
  <input type="submit" value="delete"/>
</form>
